html, body, #app {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: 100%;
}

header {
  height: 75px;
}


:root {
  --color-1: #F2E5E5;
  --color-2: #E8C4C4;
  --color-3: #CE7777;
  --color-c: #2B3A55;
}

.theme {
  color: var(color-c);
  background-color: var(--color-1);
}

.btn-theme {
  color: var(--color-1) !important;
  border-color: var(--color-c) !important;
  background-color: var(--color-c) !important;
}
.btn-theme:hover {
  color: var(--color-c) !important;
  border-color: var(--color-c) !important;
  background-color: var(--color-1) !important;
}
.btn-theme:active {
  color: var(--color-1) !important;
  border-color: var(--color-c) !important;
  background-color: var(--color-c) !important;
}

.btn-theme-c {
  color: var(--color-1) !important;
  border-color: var(--color-1) !important;
  background-color: var(--color-c) !important;
}
.btn-theme-c:hover {
  color: var(--color-c) !important;
  border-color: var(--color-1) !important;
  background-color: var(--color-1) !important;
}
.btn-theme-c:active {
  color: var(--color-1) !important;
  border-color: var(--color-1) !important;
  background-color: var(--color-c) !important;
}


.full-height {
  height: 100%;
}
